<h3>Author: DaiDH</h3>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div formArrayName="arr">
    <ng-container *ngFor="let row of f.controls let i = index">
      <div [formGroupName]="i" style="margin-bottom: 10px;">
        <label for="name">Name:</label>
        <input type="text" name="name" formControlName="name" />
        <button type="button" (click)="removeItem(i)">Remove</button>
      
      </div>
    </ng-container>
  </div>
  <br />
  <button type="button" (click)="addItem()">Add</button>
  <button type="submit">Submit</button>
</form>

<br />
Refer:
<a href="https://stackblitz.com/edit/angular-form-group-form-array-dynamic">Advance example</a>